<div class="wrapper">
<div class="bio">
  <h1>Bio</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quae quis aliquid delectus cum expedita ut magnam obcaecati, similique provident? Recusandae, ex! Exercitationem, maxime? Modi fugiat aliquam eum nemo dolore?</p>
</div>

<div class="resume">
<h1 style = "text-align: center;"> <b>Ben Boatright</b> </h1>

<div style = "text-align: center;">
  <a href="bboatright@protonmail.com">bboatright&#64;protonmail.com</a> |
  <a href="https://linkedin.com/in/benhboatright">https://linkedin.com/in/benhboatright</a>
</div>

<div class="pro-experience" style = "text-align: center;">
  <h2>Professional Experience</h2>
</div>


<h3>Darden School of Business, Charlottesville VA</h3>
<!-- https://stackoverflow.com/a/65855714 -->
<p style="text-align:left;">
    <b>System Engineer</b>
    <span style="float:right"> March 2023 - Present</span>
</p>

<ul>
  <li>Test 1</li>
  <li>Test 2</li>
</ul>

<p style="text-align:left;">
    <b>Case Researcher</b>
    <span style="float:right"> April 2021 - March 2023</span>
</p>

<ul>
  <li>Test 1</li>
  <li>Test 2</li>
</ul>

<div class="education" style="text-align: center;">
  <h2>Education</h2>
</div>

<p style="text-align:left;">
    <b>Udacity Nanondegree Program</b>
    <span style="float:right"> May 2022 - September 2022</span>
    <br>
    Full Stack Web Developer
</p>

<p style="text-align:left;">
    <b>University of Tennessee, Knoxville, TN</b>
    <span style="float:right"> August 2018 - December 2019</span>
    <br>
    Master of Science in Business Analytics
</p>

<p style="text-align:left;">
    <b>University of Mississippi, Oxford, MS</b>
    <span style="float:right"> August 2013 - December 2017</span>
    <br>
    Bachelor of Science in Civil Engineering
</p>

</div>
</div>