---
---

@import "{{ site.theme }}";

.wrapper{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: auto; 
    display: flex;
    flex-wrap: wrap;
}

section{
    width: auto;
}