---
---

@import "{{ site.theme }}";

.wrapper{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    grid-template-columns: 3;
}

header{
    flex: 1;
}

section{
    flex: 2;
}

footer{
    flex: 3;
}