---
---

@import "{{ site.theme }}";

.wrapper{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 25% 75%;
    width: auto
}
header{

}

section{
    padding-bottom: 50px;
}

footer {
    width: 270px;
    float: left;
    -webkit-font-smoothing: subpixel-antialiased;
  }